<div class= "container">
  <div class= "logo_wrapper">
    <%= link_to image_tag('logo.png', alt:"positive-learning", class: "service_logo"), '/' %>
  </div>
  <div class= "details_wrapper">
    <div class= "details_items">
      <% @item.each do |item| %>
        <% if item.image.present?%>
          <div class="remove_box">
            <div class="remove_box__posts">
              <% if user_signed_in? && current_user.id == item.user_id %>
                <%= link_to '投稿削除', item_path(item.id), method: :delete %>
                <%= link_to '投稿編集', edit_item_path(item.id) %>
              <% end %>
            </div>
            <%= link_to item_path(item), method: :get do %>
              <p><%= image_tag item.image.url, class:"content__image" %></p>
              <div class= "content__explanation">
                <p><%= text_url_to_link(h(item.explanation)).html_safe %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div >
  </div>
</div>
