<% if params[:follower] %>
  <div class= "logo_wrapper">
    <%= link_to image_tag('logo.png', alt:"positive-learning", class: "service_logo"), '/' %>
  </div>
    <div class= "follower_title">フォロワー 一覧</div>
    <% @relationships.each do |relationship| %>
        <% @user = User.find_by(id: relationship.follower_id) %>
        <div class="users_contents">
            <div class= "users_wrapper">
                <div class= "follower_name">
                    <a href="/users/<%= @user.id %>%"><%= @user.name %></a>
                </div>
                <div class= "follower_form">
                    <%= render "users/follow_form" %>
                </div>
            </div>
        </div>
        <br>
    <% end %>
<% elsif params[:following] %>
  <div class= "logo_wrapper">
    <%= link_to image_tag('logo.png', alt:"positive-learning", class: "service_logo"), '/' %>
  </div>
    <div class= "following_title">フォロー 一覧</div>
    <% @relationships.each do |relationship| %>
        <% @user = User.find_by(id: relationship.following_id) %>
        <div class="users_contents">
            <div class= "users_wrapper">
                <div class= "following_name">
                    <a href="/users/<%= @user.id %>%"><%= @user.name %></a>
                </div>
                <div class= "following_form">
                    <%= render "users/follow_form" %>
                </div>
            </div>
        </div>
    <% end %>
<% end %>