<div class= "container">
  <%= render partial: 'pages/header' %>
  <div class= "layout_wrapper">
    <div class= "left_layout">
        <section class= "base_container">
          <div class= "user">
            <i class="fas fa-user fa-3x"></i>
            <div class="text">
              <span>ユーザー</span>
              <% if user_signed_in? && current_user %>
                <p class="name"> 
                  <%= @user.name %>
                </p>
              <% end %>
            </div>
          </div>
        </section>
        <section class="follow_container">
          <p class="container_title">status</p>
          <ul>
            <li>
              <p class="title">following</p>
              <div class="description">
                <a href="/users?following=1&user_id=<%=@user.id%>"><span id="following"><%= @user.following.count %></span>人</a>
              </div>
            </li>
            <li>
              <p class="title">follower</p>
              <div class="description">
                <a href="/users?follower=1&user_id=<%=@user.id%>"><span id="follower"><%= @user.followers.count %></span>人</a>
              </div>
            </li>
          </ul>
        </section>
      <div class= "following_form">
        <%= render "follow_form" %>
      </div>
    </div>
    <div class= "center_content">
      <h2>お気に入り内容</h2>
        <% @favorite_items.each do |item| %>
          <hr>
          <p><%=link_to item.explanation, item_path(item.id) %></p>
        <% end %>
          <hr>
    </div>
  </div>
</div>