<% if current_user %>
  <div class="upper_block">
    <div class="flex_wrapper_left">
      <div class="menu_panel_button">
        <div class= "icon_menu">
          <%= link_to "/pages/show/#{current_user.id}" do %>
            <i class= "fas fa-bars fa-2x" ></i>
          <% end %>
        </div>
      </div>
      <div class="logo">
        <%= link_to image_tag('logo.png', alt:"positive-learning", class: "service_logo"), '/' %>
      </div>
    </div>
    <div class= "flex_wrapper_right">
      <div class= "links">
        <ul>
          <li>
            <%= link_to 'COLLECTION', collections_path, class: "links_collection" %> 
          </li>
          <li>
            <%= link_to 'ITEM', items_path, class: "links_item" %> 
          </li>
        </ul>
      </div>
      <div class= "search">
        <%= search_form_for @search, url: search_items_path do |f| %>
          <%= f.label :title_or_explanation_cont, "Keyword", class: "icon-search" %>
            <span class="icon-search_icon">
                <i class="fas fa-search"></i>
            </span>
          <%= f.search_field :title_or_explanation_cont, class: "form-control", placeholder: "投稿検索" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="upper_block">
    <div class="flex_wrapper_left">
      <div class="logo">
        <%= link_to image_tag('logo.png', alt:"positive-learning", class: "service_logo"), '/' %>
      </div>
    </div>
    <div class= "flex_wrapper_right">
      <div class= "links_box">
        <%= link_to 'New Registration', new_user_registration_path, class: "links_registration" %> 
        <%= link_to 'Login', new_user_session_path, class: "links_login" %> 
      </div>
      <div class= "search">
        <%= search_form_for @search, url: search_items_path do |f| %>
          <%= f.label :title_or_explanation_cont, "Keyword", class: "icon-search" %>
            <span class="icon-search_icon">
                <i class="fas fa-search"></i>
            </span>
          <%= f.search_field :title_or_explanation_cont, class: "form-control", placeholder: "投稿検索" %>
        <% end %>
      </div>
    </div>
  </div>
 <% end %>