<div class= "container">
  <div class="upper_block">
    <div class="flex_wrapper_left">
      <div class="menu_panel_button">
        <div class= "icon_menu">
          <%= link_to pages_show_path(current_user) do %>
            <i class= "fas fa-bars fa-2x" ></i>
          <% end %>
        </div>
      </div>
      <div class="logo">
        <%= link_to image_tag('logo.png', alt:"positive-learning", class: "service_logo"), '/' %>
      </div>
    </div>
    <div class= "flex_wrapper_right">
      <div class= "links">
        <ul>
          <li>
            <%= link_to 'COLLECTION', collections_path, class: "links_collection" %> 
          </li>
          <li>
            <%= link_to 'ITEM', items_path, class: "links_item" %> 
          </li>
          <li>
            <%= link_to 'CATEGORY', root_path, class: "links_category" %> 
          </li>
        </ul>
      </div>
      <div class= "search">
        <form id="search_form" action="/search" accept-charset="UTF-8" method="get",class= "s">
          <span class="icon-search_icon">
            <i class="fas fa-search"></i>
          </span>
          <input type="text" name="q" id="q" placeholder="入力してください" class="black_input">
        </form>
      </div>
    </div>
  </div>
  <div class= "layout_wrapper">
    <div class= "left_layout">
      <section class= "base_container">
        <div class= "user">
          <i class="fas fa-user fa-3x"></i>
          <div class="text">
            <span>ユーザー</span>
            <p class="name"> 
              <%= current_user.name %>
            </p>
          </div>
        </div>
      </section>
      <section class="follow_container">
        <p class="container_title">status</p>
        <ul>
          <li>
            <p class="title">following</p>
            <div class="description">
              <a href="#"></a>
            </div>
          </li>
          <li>
            <p class="title">follower</p>
            <div class="description">
              <a href="#"></a>
            </div>
          </li>
        </ul>
      </section>
    </div>
    <div class="center_layout">
      <div class="swiper_container">
      </div>
    </div>
  </div>
</div>

<%# <%= link_to "ログアウト",destroy_user_session_path, method: :delete %> 
<%# <%= link_to "ログイン", new_user_session_path, method: :get %> 
<%# <%= link_to 'collection投稿', new_collection_path %> 
<%# <%= link_to 'item投稿', new_item_path %> 
