<div class="flex_wrapper left">
  <div class="menu_panel_button">
    <%# <span class = "icon-menu icon"> %>
      <i class = "fas fa-bars"></i>
      <%= icon('fab', 'facebook-square') %>
    </span>
  </div>
    <div class="logo">
      <%= link_to image_tag('logo.png', alt:"positive-learning", class: "service_logo",size: '300x40'), '/' %>
    </div>
</div>
<%# <%= link_to "ログアウト",destroy_user_session_path, method: :delete %> %> %>
<%# <%= link_to "ログイン", new_user_session_path, method: :get %> %>
<%# <%= link_to 'collection投稿', new_collection_path %>  %>
<%# <%= link_to 'item投稿', new_item_path %> %>
