<div class="menu">
  <%= link_to image_tag('logo.png', alt:"positive-learning", class: "service_logo"), '/' %>
  <div class="login_container">
    <div class="create_panel">
      <ul>
        <li>
          <%= link_to 'Follow', "/users?following=1&user_id=#{current_user.id}" , class: "links_box" %> 
        </li>
        <li>
          <%= link_to 'Follower', "/users?follower=1&user_id=#{current_user.id}" , class: "links_box" %> 
        </li>
        <li>
          <%= link_to 'Create Collection', new_collection_path , class: "links_box" %> 
        </li>
        <li>
          <%= link_to 'Create Item', new_item_path , class: "links_box" %> 
        </li>
        <li>
          <%= link_to 'Profile Settings', edit_user_registration_path(current_user) , class: "links_box" %> 
        </li>
        <li>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "links_box" %> 
        </li>
        <li>
          <%= link_to 'My Page', user_path(current_user), class: "links_box" %> 
        </li>
      </ul>
    </div>
  </div>
</div>
