<div class= "content">
  <div class= "remove_box__posts">
    <% if user_signed_in? && current_user.id == item.user_id %>
      <%= link_to '投稿削除', item_path(item.id), method: :delete %>
    <% end %>
  </div>
  <%= link_to item_path(item), method: :get do %>
    <% if item.image.present? %>
      <p> <%= image_tag item.image.url, class:"content__image" %> </p>
    <% end %>
    <% if item.video.present? %>
      <p> <%= video_tag item.video.url, type: "video/mp4", autoplay: true, muted: true, controls: true, preload: true, class:"content__video", height: "100%", width: "100%" %></p>
    <% end %>
    <div class= "content__name">
      <p><%= item.title %> </p>
    </div>
    <div class= "content__explanation">
      <p><%= item.explanation %> </p>
    </div>

  <% end %>
</div>