<div class= "container">
  <div class= "logo_wrapper">
    <%= link_to image_tag('logo.png', alt:"positive-learning", class: "service_logo"), '/' %>
  </div>
  <div class= "outline_container">
    <div class= "details_items">
      <div class= "item_video_wrapper">
        <% @items.each do |item| %>
          <div class= "favorites_box">
            <% if user_signed_in? %>
              <%= link_to "投稿者プロフィール", "/users/#{@item.user_id}" %>
              <% if item.favorited_by?(current_user) %> 
                  <p><span>お気に入り解除: </span><%=link_to item.favorites.count, item_favorites_path(item.id), method: :delete %></p>
              <% else %>
                  <p><span>お気に入り登録: </span><%=link_to item.favorites.count, item_favorites_path(item.id), method: :post %></p>
              <% end %>
            <% else %>
              <p><span>お気に入り数: </span><%= item.favorites.count %></p>
            <% end %>
          </div>
          <% if item.image.present?%>
            <div class= "details_items__image">
              <%= image_tag ("#{item.image}") %>
            </div>
          <% end %>
          <% if item.video.present? %>
            <div class= "details_items__video">
            <p> <%= video_tag item.video.url, type: "video/mp4", autoplay: true, muted: true, controls: true, preload: true, class:"content__video", height: "100%", width: "100%" %></p>
            </div>
          <% end %>
      </div>
          <div class= "flex_wrapper">
            <div class= "remove_box__posts">
              <% if user_signed_in? && current_user.id == @item.user_id %>
                <%= link_to '投稿削除', item_path(@item.id), method: :delete %>
                <%= link_to '投稿編集', edit_item_path(@item.id) %>
              <% end %>
            </div>
            <div class= "details_items__title">
              <p><%= item.title %></p>
            </div>
            <div class= "details_items__explanation">
              <%= text_url_to_link(h(item.explanation)).html_safe %>
            </div>
          </div>
        <% end %>
    </div>
    <div class= "comment_block">
      <div class= "comment_section">
        <div class= "comment_title">
          <h4>コメント</h4>
        </div>
        <div class= "comment_text">
          <%= form_with model: [@item, @comment], method: :post, local:true do |f| %>
            <%= f.text_area :content, autofocus: true %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.submit 'コメントする', class: "comment_submit" %>
          <% end %>
        </div>
      </div>
      <div class= "comment_wrapper">
        <% @comments.each do |c| %>
          <div class= "comment_wrapper__box">
            <div class= "comment_wrapper__NameBox">
              <div class= "comment_wrapper__NameBox__name">
                <a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
              </div>
              <% if user_signed_in? && current_user.id == c.user_id %>
                <div class= "comment_wrapper__NameBox__delete">
                  <p><%= link_to "コメント削除", item_comment_path(c.item.id, c.id), method: :delete %></p>
                </div>
              <% end %>
            </div>
              <p><span>コメント内容: </span><%= c.content %></p>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
</div>
